/*
.x-toolbar, .x-tabbar {
	background-color: #333333 !important;
	background-image: none !important;
}

.x-tab {
	background-image: none !important;
	box-shadow: none !important;
	border-bottom: none !important;
	color: #fefefe !important;
}

.x-tab-active {
	background-color: #666666 !important;
	background-image: none !important;
}

.x-button-icon {
	background-color: #fefefe !important;
	background-image: none !important;
}
*/