<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	
	<title>Noppa.us</title>
	
	<!-- iPhone -->
	<link href="img/apple-touch-icon-57x57.png" sizes="57x57" rel="apple-touch-icon">
	<!-- iPad -->
	<link href="img/apple-touch-icon-72x72.png" sizes="72x72" rel="apple-touch-icon">
	<!-- iPhone (Retina) -->
	<link href="img/apple-touch-icon-114x114.png" sizes="114x114" rel="apple-touch-icon">
	<!-- iPad (Retina) -->
	<link href="img/apple-touch-icon-144x144.png" sizes="144x144" rel="apple-touch-icon">
	
	
	<!-- iPhone -->
	<link href="img/apple-touch-startup-image-320x460.png" media="(device-width: 320px)" rel="apple-touch-startup-image">
	<!-- iPhone (Retina) -->
	<link href="img/apple-touch-startup-image-640x920.png" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
	<!-- iPad (portrait) -->
	<link href="img/apple-touch-startup-image-768x1004.png" media="(device-width: 768px) and (orientation: portrait)" rel="apple-touch-startup-image">
	<!-- iPad (landscape) -->
	<link href="img/apple-touch-startup-image-748x1024.png" media="(device-width: 768px) and (orientation: landscape)" rel="apple-touch-startup-image">
	<!-- iPad (Retina, portrait) -->
	<link href="img/apple-touch-startup-image-1536x2008.png" media="(device-width: 1536px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
	<!-- iPad (Retina, landscape) -->
	<link href="img/apple-touch-startup-image-1496x2048.png" media="(device-width: 1536px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
	
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
	<link rel="stylesheet" href="static/css/noppa.css" />
	
	<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
	<script src="static/lib/raty/js/jquery.raty.min.js"></script>
	<script src="static/lib/sha512/sha512.js"></script>
	<script src="static/lib/django/csrf.js"></script>
	<script src="static/js/noppa.js"></script>
</head>

<body>

<div id="viewport" data-role="page" data-theme="a">

	<div data-role="header" data-id="header" data-position="fixed">
		<a href="#home" data-role="button" data-icon="home" data-iconpos="notext" data-inline="true" class="home ui-btn-active">Home</a>
		<h1>Noppa.us</h1>
		<a href="#login" data-role="button" data-icon="star" data-inline="true" data-mini="true" class="login">Login</a>
	</div>
	
	<div data-role="content" id="course" class="page" data-current-course="">
		<h4 id="course-code"></h4> <h3 id="course-name"></h3><br />
		<h5 id="course-credits"></h5> <h5 id="course-period"></h5>
		<div data-role="collapsible-set" data-mini="true" class="course-details"></div><br/>
		<div data-role="collapsible-set" data-mini="true" data-theme="e" data-icon="star" data-collapsed-icon="star" data-expanded-icon="star" class="course-reviews">
			<div data-role="collapsible" id="reviews-collapsible">
				<h3 class="course-reviews-title">Course reviews</h3>
				<p class="course-reviews-content">
					<span>No reviews.</span>
				</p>
			</div>
		</div>
		<div data-role="collapsible-set" data-mini="true" data-theme="b" data-icon="star" data-collapsed-icon="star" data-expanded-icon="star" class="course-review">
			<div data-role="collapsible" id="review-collapsible">
				<h3 class="course-review-title">Review the course</h3>
				<p class="course-review-content">
					<form id="review" action="#" method="POST">{% csrf_token %}
						<label for="rating" class="select">Rating:</label>
						<select name="rating" id="rating">
						   <option value="10">10</option>
						   <option value="9">9</option>
						   <option value="8">8</option>
						   <option value="7">7</option>
						   <option value="6">6</option>
						   <option value="5">5</option>
						   <option value="4">4</option>
						   <option value="3">3</option>
						   <option value="2">2</option>
						   <option value="1">1</option>
						   <option value="0">0</option>
						</select><br />
						<label for="comment">Comment (optional):</label>
						<textarea name="comment" id="comment"></textarea>
						<button id="review-button" type="submit" name="submit" data-theme="b">Save the review</button>
					</form>
				</p>
			</div>
		</div>
	</div>

	<div data-role="content" id="home" class="page" style="display: block;">
		<h4 id="greet">Mobile interface for Aalto University Noppa course service</h4>
		<img src="static/img/panda.png" />
		<!--
		<h4>The application</h4>
		<p>Welcome to Noppa.us - a mobile interface for advanced searching and reviewing of Aalto University courses found in the official Noppa course service.</p>
		
		<h4>Rating courses</h4>
		<p>To review and rate courses, you will need to register (or login) to the service. The registration form can be found in the login menu launched from the button in the top-right corner.</p>
		-->
	</div>

	<div data-role="content" id="login" class="page">
		<p>Please login to review courses and view your previous reviews.</p>
		<form id="authenticate" action="#" method="POST">{% csrf_token %}
			<div data-role="fieldcontain" class="ui-hide-label">
				<label for="username">Username:</label>
				<input type="text" name="username" id="username" value="" placeholder="Username" />
				<label for="password">Password:</label>
				<input type="password" name="password" id="password" value="" placeholder="Password" />
			</div>
			<p class="login-error">Login error, please check your credentials!</p>
			<p class="registration-error">Registration error, please check your credentials!</p>
			<button id="login-button" type="submit" name="submit" data-theme="b">Login</button>
			<button id="register-button" type="submit" name="submit" disabled="disabled">Register</button>
		</form>
	</div>
	
	<div data-role="content" id="reviews" class="page">
		<p>You are logged in as <b id="logged-in-user"></b>.</p>
		<form id="logout" action="#" method="POST">{% csrf_token %}
			<button id="logout-button" type="submit" name="submit" data-theme="e">Logout</button>
		</form>
		<br />
		<p>You can view and manage all the reviews you have made in this page.</p>
		<div id="reviews-holder"></div>
	</div>

	<div data-role="content" id="search" class="page">
		<ul data-role="listview" data-theme="g" data-divider-theme="d" data-filter="true" data-filter-placeholder="Search the filtered courses..." data-autodividers="true">
			<!--
			<li data-role="list-divider">Department of Computer Science</li>
			<li>
				<a href="#course-t-111-5360">
					<div class="name">WWW Applications</div>
					<div class="code">T-111.5360</div>
					<div id="T-111-5360" class="stars"></div>
				</a>
			</li>
			<li>
				<a href="#course-t-76-3601">
					<div class="name">Introduction to Software Engineering</div>
					<div class="code">T-76.3601</div>
					<div id="T-76-3601" class="stars"></div>
				</a>
			</li>
			<li>
				<a href="#course-t-121-5450">
					<div class="name">Interaction Design and Evaluation</div>
					<div class="code">T-121.5450</div>
					<div id="T-121-5450" class="stars"></div>
				</a>
			</li>
			<li data-role="list-divider">Department of Media Technology</li>
			<li>
				<a href="#course-t-111-5360">
					<div class="name">WWW Applications</div>
					<div class="code">T-111.5360</div>
					<div id="T-111-5360" class="stars"></div>
				</a>
			</li>
			<li>
				<a href="#course-t-76-3601">
					<div class="name">Introduction to Software Engineering</div>
					<div class="code">T-76.3601</div>
					<div id="T-76-3601" class="stars"></div>
				</a>
			</li>
			-->
		</ul>
	</div>

	<div data-role="content" id="sort" class="page">
		<p>In this sort page you can choose how the courses are sorted on the search page.</p>
	</div>

	<div data-role="content" id="filter" class="page">
		<p>In this filter page you can choose the faculties you are interested in.</p><br />
		<div class="faculties"></div>
	</div>

	<div data-role="footer" data-id="footer" data-position="fixed">
		<div data-role="navbar">
			<ul>
				<li><a href="#search" data-icon="search" class="search">Search</a></li>
				<li><a href="#sort" data-icon="grid" class="sort">Sort</a></li>
				<li><a href="#filter" data-icon="gear" class="filter">Filter</a></li>
			</ul>
		</div>
	</div>

</div>

</body>
</html>
