body {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}
footer {
    position: fixed;
    bottom: 0%;
}
.stars {
    padding: 0.2em;
}

.stars {
	float: left;
	margin-top: -4px;
	margin-left: 5px;
}

.prototype {
    display: none;
}

.course-item {
	border: 1px dashed white;
	border-radius: 5px;
	padding: 0 10px 5px 10px;
}

.course-item.selected {
	border: 1px dashed #ccc;
	background: #eee;
}

.course-header h2 {
	font-size: 18px;
	white-space: nowrap;
}

.course-code {
	float: left;
	clear: left;
	font-weight: bold;
}

.course-details {
	display: none !important;
	padding-top: 4px;
}

.course-item.selected .course-details {
	display: block !important;
}

.course-description {
	margin-left: 0;
	margin-top: 4px;
}

.login-title {
	margin-bottom: 10px;
}
