.ui-page {
	-webkit-backface-visibility: hidden;
}

input.ui-input-text, textarea.ui-input-text {
	line-height: 1 !important;
}

.login-error, .registration-error {
	color: #ff3030;
	display: none;
}

.page {
	display: none;
}

.ui-loader {
	box-shadow: 0 0 0 0 white !important;
}

#greet {
	text-align: center;
	margin-top: 0;
}

#home {
	text-align: center;
}

#search ul .ui-btn, #pure-search ul .ui-btn {
	background: #333333;
}

#search ul .ui-btn-active, #pure-search ul .ui-btn-active {
	border: none !important;
	font-weight: normal !important;
	background: #5393C5 !important;
}

#search .name, #pure-search .name {
	overflow: hidden;
	margin-right: 15px;
}

#search .code, #pure-search .code {
	display: inline-block;
	font-size: 11px;
	color: #bbbbbb;
	min-width: 57px;
}

#search .stars, #pure-search .stars {
	display: inline-block;
	margin: 5px 5px 0 5px;
}

#search .stars img, #pure-search .stars img {
	cursor: pointer;
}

#search .search-info, #pure-search .search-info {
	padding: 20px;
	font-size: 16px;
}

#course {
	/*position: fixed;*/
	/*width: 100%;*/
	min-height: 100%;
	height: auto;
	/*padding: 0;*/
	/*left: 100%;*/
	/*background: #222222;*/
	z-index: 2;
}

#course #course-name {
	margin-top: 0;
	margin-bottom: 2px;
	display: inline-block;
}

#course #course-code {
	color: #bbbbbb;
	margin-top: 0;
	margin-right: 10px;
	margin-bottom: 2px;
	display: inline-block;
}

#course #course-credits, #course #course-period {
	margin-top: 0;
	margin-right: 10px;
	display: inline-block;
}

#course #course-period {
	/*color: #bbbbbb;*/
}

#course .course-details p, #course .course-reviews p, #course .course-review p, #course .course-review label {
	font-size: 13px;
}

#course .course-review, #course .course-reviews, #course .hide-course {
	display: none;
}

#course .course-reviews-content .grade {
	margin-right: 15px;
}

#course .stars-header, #course .stars {
	display: none;
}

/*#filter .ui-btn-text {
	width: 88%;
}*/

#filter .faculties {
	display: none;
}

#reviews #reviews-holder h3 span, #blacklist div h3 span {
	font-weight: normal;
}

#reviews #reviews-holder h3, #blacklist div h3 {
	font-size: 13px;
	font-weight: normal;
}

#reviews #reviews-holder .ui-collapsible .ui-collapsible-content, #blacklist .ui-collapsible .ui-collapsible-content {
	padding: 10px 16px 1px 16px !important;
}

#filter #blacklist-heading {
	display: none;
}

/* Red button for jQuery Mobile. */

.ui-btn-up-f, .ui-btn-hover-f, .ui-btn-down-f {
  color: white;
  font-weight: bold;
  text-decoration: none; }

.ui-btn-up-f {
  border: 1px solid #711414;
  background: #ab2525;
  text-shadow: 0 -1px 1px #711414;
  background-image: -moz-linear-gradient(top, #c44f4f, #ab2525);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c45e5e), color-stop(1, #9e3939));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#c44f4f', EndColorStr='#ab2525')"; }

.ui-btn-hover-f {
  border: 1px solid #6e0000;
  background: #b54a4a;
  text-shadow: 0 -1px 1px #690101;
  background-image: -moz-linear-gradient(top, #d47272, #b54a4a);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d47272), color-stop(1, #b54a4a));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#d47272', EndColorStr='#b54a4a')"; }

.ui-btn-down-f {
  border: 1px solid #782323;
  background: #c44f4f;
  text-shadow: 0 -1px 1px #782323;
  background-image: -moz-linear-gradient(top, #9e3939, #c44f4f);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9e3939), color-stop(1, #c44f4f));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#9e3939', EndColorStr='#c44f4f')"; }
