.ui-page {
	-webkit-backface-visibility: hidden;
}

input.ui-input-text, textarea.ui-input-text {
	line-height: 1 !important;
}

.page {
	display: none;
}

.ui-loader {
	box-shadow: 0 0 0 0 white !important;
}

#greet {
	text-align: center;
	margin-top: 0;
}

#home {
	text-align: center;
}

#search ul .ui-btn {
	background: #333333;
}

#search ul .ui-btn-active {
	border: none !important;
	font-weight: normal !important;
	background: #5393C5 !important;
}

#search .name {
	
}

#search .code {
	display: inline-block;
	font-size: 11px;
	color: #bbbbbb;
	min-width: 57px;
}

#search .stars {
	display: inline-block;
	margin: 5px 5px 0 5px;
}

#search .stars img {
	cursor: pointer;
}

#course {
	position: fixed;
	width: 100%;
	min-height: 100%;
	height: auto;
	/*padding: 0;*/
	/*left: 100%;*/
	/*background: #222222;*/
	z-index: 2;
}
