.ui-page {
	-webkit-backface-visibility: hidden;
}

input.ui-input-text, textarea.ui-input-text {
	line-height: 1 !important;
}

.login-error, .registration-error {
	color: #ff3030;
	display: none;
}

.page {
	display: none;
}

.ui-loader {
	box-shadow: 0 0 0 0 white !important;
}

#greet {
	text-align: center;
	margin-top: 0;
}

#home {
	text-align: center;
}

#search ul .ui-btn {
	background: #333333;
}

#search ul .ui-btn-active {
	border: none !important;
	font-weight: normal !important;
	background: #5393C5 !important;
}

#search .name {
	overflow: hidden;
	margin-right: 15px;
}

#search .code {
	display: inline-block;
	font-size: 11px;
	color: #bbbbbb;
	min-width: 57px;
}

#search .stars {
	display: inline-block;
	margin: 5px 5px 0 5px;
}

#search .stars img {
	cursor: pointer;
}

#search .search-info {
	padding: 20px;
	font-size: 16px;
}

#course {
	/*position: fixed;*/
	/*width: 100%;*/
	min-height: 100%;
	height: auto;
	/*padding: 0;*/
	/*left: 100%;*/
	/*background: #222222;*/
	z-index: 2;
}

#course #course-name {
	margin-top: 0;
	margin-bottom: 2px;
	display: inline-block;
}

#course #course-code {
	color: #bbbbbb;
	margin-top: 0;
	margin-right: 10px;
	margin-bottom: 2px;
	display: inline-block;
}

#course #course-credits, #course #course-period {
	margin-top: 0;
	margin-right: 10px;
	display: inline-block;
}

#course #course-period {
	/*color: #bbbbbb;*/
}

#course .course-details p, #course .course-reviews p, #course .course-review p, #course .course-review label {
	font-size: 13px;
}

#course .course-review, #course .course-reviews {
	display: none;
}

#filter .ui-btn-text {
	width: 88%;
}

#filter .faculties {
	display: none;
}
